<% provide(:title, 'Contact') %>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Finding me around the web</h3>
    </div>
    <div class="list-group">
      <%= mail_to "jjmakis@gmail.com", image_tag("googlemail-32.png", :size => "23x23", :alt => "Gmail Logo", :title => "Gmail").html_safe+" Mail", :class=>"mails list-group-item"%>
      <%= link_to "<img src='https://dlc1-s.licdn.com/sites/all/themes/dlc/img/widgets/member_profile_icon.gif' width='23' height='23' alt=''> LinkedIn".html_safe, "http://www.linkedin.com/pub/john-makis/7b/747/783", :target => "_blank", :class => "list-group-item" %>
      <%= link_to "<img src='https://www.facebookbrand.com/img/assets/asset.f.logo.lg.png' width='23' height='23' alt=''> Facebook".html_safe, "http://www.facebook.com/johnmakis", :target => "_blank", :class => "list-group-item" %>
      <%= link_to "<img src='http://l.yimg.com/g/images/goodies/white-small-chiclet.png' width='23' height='23' alt=''> Flickr".html_safe, "http://www.flickr.com/photos/prayden/", :target => "_blank", :class => "list-group-item" %>
      <%= link_to image_tag("GitHub-Mark-32px.png", :size => "23x23", :alt => "GitHub Logo", :title => "GitHub") + " GitHub", "https://github.com/EnolEther", :target => "_blank", :class => "list-group-item" %>
    </div>
  </div>
</div>